# Database Establishment

To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements.

full tutorial: https://likegeeks.com/python-sqlite3-tutorial/

A connection object is created using the `connect()` function:

In [1]:
# Import sqlite3 and create connection to create a new database .db
import sqlite3

connection = sqlite3.connect('db1_Establishment.db')

A new file called `test.db` will be created where our database will be stored.

In [2]:
!ls -l | grep test.db

-rw-r--r-- 1 Benedict 197609 8192 Mar 26 20:51 test.db

## SQLite3 Cursor

To execute SQLite statements in Python, you need a cursor object. You can create it using the `cursor()` method.

The SQLite3 cursor is a method of the connection object. To execute the SQLite3 statements, a connection is established at first and then an object of the cursor is created using the connection object as follows:

In [3]:
# Create cursor object after establish connection
connection = sqlite3.connect('test.db')

cursorObj = connection.cursor()

Now we can use the cursor object to call the `execute()` method to execute any SQL queries.


## Create Table
To create a table in SQLite3, you can use the Create Table query in the `execute()` method. Consider the following steps:

1. The connection object is created
2. Cursor object is created using the connection object
3. Using cursor object, execute method is called with create table query as the parameter

Let’s create employees with the following attributes:

```sql
employees (id, name, salary, department, position, hireDate)
```

In [4]:
# Drop Table If Exist first
cursorObj.execute("DROP TABLE IF EXISTS employees")
connection.commit()

# Execute command from cursor object then do the commit
cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name test, salary real, department text, position text, hiredDate text)")
connection.commit()

## Insert in Table
To insert data in a table, we use the **INSERT INTO** statement. Consider the following line of code:

In [5]:
# Insert row/values into table
cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")
connection.commit()

We can also pass `values/arguments` to an **INSERT** statement in the execute() method. You can use the `question mark (?)` as a placeholder for each value. The syntax of the **INSERT** will be like the following:

In [6]:
# Create variable of values/arguments
entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')

# Execute INSERT statement
cursorObj.execute('''INSERT INTO employees(id, name, salary, department, position, hiredDate) VALUES(?, ?, ?, ?, ?, ?)''', 
                  entities)
connection.commit()

## Update Table
To update the table simply create a connection, then create a cursor object using the connection and finally use the **UPDATE** statement in the `execute()` method.

Suppose that we want to update the `name of the employee whose id equals 2`. For updating, we will use the **UPDATE** statement and for the employee whose id equals 2. We will use the **WHERE** clause as a condition to select this employee.

Consider the following code:

In [7]:
# Update table using UPDATE and WHERE statement
cursorObj.execute('UPDATE employees SET name = "Rogers" where id = 2')
connection.commit()

## Select statement
The select statement is used to select data from a particular table. If you want to select all the columns of the data from a table, you can use the `asterisk (*)`.

In SQLite3, the **SELECT** statement is executed in the execute method of the cursor object. For example, select all the columns of the employees’ table, run the following code:

```sql
cursorObj.execute('SELECT * FROM employees ')
```

The select statement selects the required data from the database table and if you want to fetch the selected data, the `fetchall()` method of the cursor object is used.

In [8]:
# Select all column in table emplyees and fetch all rows
cursorObj.execute("SELECT * FROM employees")
cursorObj.fetchall()

[(1, 'John', 700.0, 'HR', 'Manager', '2017-01-04'),
 (2, 'Rogers', 800.0, 'IT', 'Tech', '2018-02-06')]

If you want to select a few columns from a table then specify the columns like the following:
For example,
```sql
cursorObj.execute('SELECT id, name FROM employees')
```
Then to fetch only one rows of the query, we can use `fetchone()`

In [9]:
# Select column id & name and fetch ony the first row
cursorObj.execute("SELECT id, name FROM employees")
cursorObj.fetchone()

(1, 'John')