# Database Establishment

To use SQLite3 in Python, first of all, you will have to import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements.

full tutorial: https://likegeeks.com/python-sqlite3-tutorial/

A connection object is created using the `connect()` function:

In [1]:
# Import sqlite3 and create connection to create a new database .db
import sqlite3

connection = sqlite3.connect('test.db')

A new file called `test.db` will be created where our database will be stored.

In [2]:
!ls -l | grep test.db

-rw-r--r-- 1 Benedict 197609 8192 Mar 14 12:14 test.db

## SQLite3 Cursor

To execute SQLite statements in Python, you need a cursor object. You can create it using the `cursor()` method.

The SQLite3 cursor is a method of the connection object. To execute the SQLite3 statements, a connection is established at first and then an object of the cursor is created using the connection object as follows:

In [3]:
# Create cursor object after establish connection
connection = sqlite3.connect('test.db')

cursorObj = connection.cursor()

Now we can use the cursor object to call the `execute()` method to execute any SQL queries.


## Create Table
To create a table in SQLite3, you can use the Create Table query in the `execute()` method. Consider the following steps:

1. The connection object is created
2. Cursor object is created using the connection object
3. Using cursor object, execute method is called with create table query as the parameter

Letâ€™s create employees with the following attributes:

```sql
employees (id, name, salary, department, position, hireDate)
```

In [4]:
# Drop Table If Exist first
cursorObj.execute("DROP TABLE IF EXISTS employees")
connection.commit()

# Execute command from cursor object then do the commit
cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name test, salary real, department text, position text, hiredDate text)")
connection.commit()

## Insert in Table
To insert data in a table, we use the **INSERT INTO** statement. Consider the following line of code:

In [5]:
cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")
connection.commit()

We can also pass `values/arguments` to an **INSERT** statement in the execute() method. You can use the `question mark (?)` as a placeholder for each value. The syntax of the **INSERT** will be like the following:

In [ ]:
entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')

In [6]:
cursorObj.execute("SELECT * FROM employees")
cursorObj.fetchall()

[(1, 'John', 700.0, 'HR', 'Manager', '2017-01-04')]