# 3 SQL Magic Extension

Tutorial Reference : https://www.datacamp.com/community/tutorials/sql-interface-within-jupyterlab

**Magic commands** are a set of convenient functions in Jupyter Notebooks that are designed to solve some of the common problems in standard data analysis. You can see all of the available magics with the help of `%lsmagic`.

In [1]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

<br>

[IPython SQL magic extension](https://github.com/catherinedevlin/ipython-sql) created by Catheride Devlin makes it possible to write SQL queries directly into code cells as well as read the results straight into pandas DataFrames ([Source](http://datascience.sharerecipe.net/2019/01/11/unleash-the-power-of-jupyter-notebooks/)). This works for both the traditional notebooks as well as the modern Jupyter Labs.

**`Installing SQL module in the notebook`**

```
!pip install ipython-sql
```

In [2]:
# Uncomment below if you haven't install the ipython-sql
# !pip install ipython-sql

<br>

## Loading the SQL module
By using `%load_ext sql`, we can use the `%sql` magic comand inside our jupyter files

In [3]:
%load_ext sql

<br>

## Connecting to Database
The SQL Magic command is based on [SQL ALchemy](https://www.sqlalchemy.org/) standard. Basically it can connect to many type of database, but since we focusing on **SQLite**, we connect to our SQLite database by put `sqlite:///` and specifying the file location.

In [4]:
#Specifying the path of the database  
%sql sqlite:///database/chinook.db

'Connected: @database/chinook.db'

<br>

Database used is `chinook` database, view the detail here: https://www.sqlitetutorial.net/sqlite-sample-database/

<img src="database/chinook_schema.png" width="800">

## Query Database using **`%sql`** Magic command

In [5]:
# Show All table from `chinook` database
%sql SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'

 * sqlite:///database/chinook.db
Done.

[('albums',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',)]

<br>

As you can see, by using **`%sql`** magic command, we can directly query to the database without creating _cursor connection_. <br> the result of query also showing up as **Pandas DataFrame**

### One Liner Query
As Mentioned previously there are 2 component when querying databaset using SQL Magic extension, <br>
The **`%sql`** + **Table Query** <br>
Those 2 has to be in the same line

In [6]:
%sql SELECT * FROM employees LIMIT 3

 * sqlite:///database/chinook.db
Done.

[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'),
 (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'),
 (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com')]

<br><br>

### Multiline Query
If you have **Long and/or Complex Query**, consider using multiline to increase readability of the query. <br>
By using _double percentage_ **`%%sql`**, you can use the whole cell into the query command.

In [7]:
%%sql

SELECT genres.Name AS 'Genre Name', artists.Name AS 'Artist Name',
albums.Title AS 'Album Title', tracks.Name AS 'Track Name'
FROM tracks
INNER JOIN genres ON genres.GenreId = tracks.GenreId
INNER JOIN albums ON albums.AlbumId = tracks.AlbumId
INNER JOIN artists ON albums.ArtistId = artists.ArtistId
LIMIT 5

 * sqlite:///database/chinook.db
Done.

[('Rock', 'AC/DC', 'For Those About To Rock We Salute You', 'For Those About To Rock (We Salute You)'),
 ('Rock', 'AC/DC', 'For Those About To Rock We Salute You', 'Put The Finger On You'),
 ('Rock', 'AC/DC', 'For Those About To Rock We Salute You', "Let's Get It Up"),
 ('Rock', 'AC/DC', 'For Those About To Rock We Salute You', 'Inject The Venom'),
 ('Rock', 'AC/DC', 'For Those About To Rock We Salute You', 'Snowballed')]